[user]
    email = vincintz@yahoo.com
    name = Theo Reyes

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    df = diff --compact-summary
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

[diff]
    tool = vimdiff
    colorMoved = default

[difftool]
    prompt = false

[merge]
    conflictstyle = diff3
    tool = vimdiff

[color]
    ui = true

[core]
    pager = delta

[pull]
    ff = only

[init]
    defaultBranch = dev

[gpg]
    program = gpg

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = true
